/* You can add global styles to this file, and also import other style files */
#botones{
    display: flex;

}
#calculadora{

    padding: 5%;

    
}

.form-control{
    margin-bottom: 5%;
}
body{
    margin: 10%;
}